@font-face{
	font-family:alegreya; src: url("../FONTS/Alegreya-Regular.ttf");
}

@font-face{
	font-family:alegreya-bold; src: url("../FONTS/Alegreya-Bold.ttf");
}

@font-face{
	font-family:alegreya-extrabold; src: url("../FONTS/Alegreya-ExtraBold.ttf");
}


@font-face{
	font-family:Barrio; src: url("../FONTS/Barrio-Regular.ttf");
}

body {
	background-color: #9FD7CA;
}

.botonera_index {
	display: block;
	justify-content: center;
	text-align: center;
	padding-top: 3vh;
	padding-bottom: 1vh;
	}

.boton_comidas_index {
	height: 15vh;
	width: 30vh;
	font-family: Barrio, Bahiana;
	font-size: 5.5vh;
	text-decoration: none;
	text-align: center;
	transform: rotate(-3deg);
	display: inline-block;
	vertical-align: baseline;
	padding-top: 9vh;
	background-color: #C52A76;
	color: #FFFFFF;
	clip-path: polygon(5% 20%, 90% 15%, 95% 75%, 7% 80%);
}

.boton_tragos_index {
	height: 15vh;
	width: 30vh;
	font-family: Barrio, Bahiana;
	font-size: 5.5vh;
	text-decoration: none;
	text-align: center;
	transform: rotate(-3deg);
	display: inline-block;
	vertical-align: baseline;
	padding-top: 9vh;
	background-color: #4AAC33;
	color: #FFFFFF;
	clip-path: polygon(8% 20%, 95% 15%, 95% 80%, 7% 85%);
}

.botonera{
	display: flex;
	justify-content: center;
	text-align: center;
	padding-bottom: 1vh;
}

.contenedor_boton{}

.boton_comidas {
	height: 7vh;
	width: 20vh;
	font-family: Barrio, Bahiana;
	font-size: 4vh;
	text-decoration: none;
	text-align: center;
	transform: rotate(-3deg);
	display: inline-block;
	vertical-align: baseline;
	padding-top: 2vh;
	background-color: #C52A76;
	color: #FFFFFF;
	clip-path: polygon(5% 20%, 90% 15%, 95% 75%, 7% 80%);
}

.boton_tragos {
	height: 7vh;
	width: 20vh;
	font-family: Barrio, Bahiana;
	font-size: 4vh;
	text-decoration: none;
	text-align: center;
	transform: rotate(-3deg);
	display: inline-block;
	vertical-align: baseline;
	padding-top: 2vh;
	background-color: #4AAC33;
	color: #FFFFFF;
	clip-path: polygon(8% 20%, 95% 15%, 95% 80%, 7% 85%);
}

.cotenedor_textura {
	display: flex;
	justify-content: center;

}

.textura{
	position: fixed;
    mix-blend-mode: multiply;
	opacity: 0.5;
	height: 100%;
	width: auto;
	display: flex;
	justify-content: center;
	pointer-events: none;
	z-index: 1000;
}


.container{
	background-color: #9FD7CA;
	padding: 5%;
}

.logo_adelita{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
	padding-bottom: 3%;
}

.titulo_menu{
	font-family: charcuterie-engraved,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #000000;
	font-size: 4.5vh;
	text-align: center;
	margin-bottom: -1vh;
	margin-top: -1vh;
}

.elemento_menu{
	align-items: center;
	justify-content: center;
}

.titulo_comida{
	font-family: Barrio, Bahiana;
	color: #E62579;
	text-align: center;
	font-size: 4vh;
	margin-top: 0.8vh;
	margin-bottom: -1.5vh;
	transform: rotate(-1deg);
	
}

.titulo_tragos{
	font-family: Barrio, Bahiana;
	color: #319B18;
	text-align: center;
	font-size: 4vh;
	margin-top: 0.8vh;
	margin-bottom: -1.5vh;
	transform: rotate(-1deg);	
}

.titulo_comida_combos{
	font-family: Barrio, Bahiana;
	color: #FFFFFF;
	text-align: center;
	font-size: 4vh;
	margin-top: 0.4vh;
	margin-bottom: 0.8vh;
	transform: rotate(1deg);
}

.paragraph {
	font-family: alegreya;
	text-align: justify;
	font-size: 2.3vh;
	line-height: 4vh;
	margin-bottom: 2.5vh;
}

.paragraph_tragos {
	font-family: alegreya;
	text-align: center;
	font-size: 2.3vh;
	line-height: 4vh;
	margin-bottom: 2.5vh;
}

.paragraph_tragos::first-line {
	font-family: alegreya-extrabold;
	font-size: 2.7vh;
	text-align: center;
}

.precio{
	font-family: Barrio, Bahiana;
	color: #000000;
	text-align: center;
	font-size: 6vh;
	margin-top: -2vh;
	margin-bottom: 0.5vh;
	transform: rotate(-2deg);
}

.precio::first-letter {
	font-size: 3.5vh;
}

.precio_porciones{
	font-family: Barrio, Bahiana;
	color: #000000;
	text-align: center;
	font-size: 1.5vh;
	margin-top: -1.5vh;
	margin-bottom: 1vh;
	margin-right: -1vh;
	transform: rotate(-60deg);
}


.precio_doble {
	display: flex;
	justify-content: center;
	text-align: center;
}

.estrella{
	height: 0.7em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.estrella_precio_doble{
	height: 4vh;
	padding-left: 2vw;
	padding-right: 2vw;

}

.linea {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80vw;
}


